* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
}

h1 {
	width: 100%;
}

video {
	width: 400px;
	height: 225px;
}

.sources-list {
	width: 100%;
	list-style: none;
	display: none;
}

.sources-btn {
	padding: 4px 8px;
	width: 100%;
	height: 21px;
	border: none;
	background-color: #3b82f6;
	color: #fff;
	border-radius: 8px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.sources-btn.open + .sources-list{
	display: block;
}

.source-item {
	padding: 8px 0;
	color: #000;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #f3f3f3;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	transition: all 0.15s linear;
}

.source-item:hover {
	color: #3b82f6;
}
