* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

h1 {
	width: 100%;
}

video {
	width: 400px;
	height: 225px;
}

.sources {
	list-style: none;
	width: 200px;
	height: 21px;
	overflow: hidden;
	background-color: #3b82f6;
	border-radius: 8px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

.sources.open {
	height: 100%;
}

.source-item {
	padding: 4px 0;
	color: #000;
	cursor: pointer;
	background-color: #fff;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	transition: all .15s linear;
}

.source-item:hover {
		color: #3b82f6;
}
